{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}


{% block title %}Sign In{% endblock %}

{% block content %}
<section class='signin'>
  <div class='container signin-content'>
    <div class='signin-container'>
      <div class='signin-grid'>
        <div style="display: flex; align-items: center; justify-content: center;">
          <img style = "object-fit: cover; border-radius: 4px;" src='{% static 'img/login-img.webp' %}' width="100%" height="100%">

        </div>
        <div>
      <h1>Sign in to continue</h1>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
        {% comment %} <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> {% endcomment %}
        {% include "socialaccount/snippets/login_extra.html" %}
      {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
        <button class="primaryAction" type="submit">Sign In</button>
      </form>
      {% comment %} <div class="socialaccount_ballot">
        <ul class="socialaccount_providers"> {% endcomment %}
          {% comment %} {% include "socialaccount/snippets/provider_list.html" with process="login" %} {% endcomment %}
          <a class="login-via-btn" href="{% provider_login_url 'google' %}">Login via Google</a>
        {% comment %} </ul> {% endcomment %}
        {% comment %} <div class="login-or">{% trans 'or' %}</div> {% endcomment %}
      {% comment %} </div> {% endcomment %}
    </div>
    </div>
    </div>
  </div>
</section>
{% endblock %}
