{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<section>
    <div class='container password-instructions-sent'>
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p style='margin: 1rem 0'>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
</div>
</section>
{% endblock %}
